commonsense-qa/data/
learning-generator/data/
commonsense-qa/data/transe/glove.transe.sgd.ent.npy
commonsense-qa/data/swow/conceptnet.en.pruned.graph
commonsense-qa/data/swow/conceptnet.en.unpruned.graph
commonsense-qa/data/swow/SWOW-EN.R100.csv
commonsense-qa/data/swow/concept_roberta_emb.npy
commonsense-qa/data/swow/conceptnet.en.csv
commonsense-qa/data/cpnet/conceptnet.en.pruned.graph
commonsense-qa/data/cpnet/conceptnet.train.csv
commonsense-qa/data/obqa/ground_token_context16_gpt2.pkl
commonsense-qa/data/obqa/cpnet_swow/paths/train.relpath.2hop.jsonl
commonsense-qa/data/obqa/cpnet/triples/train.triples.pk
commonsense-qa/data/obqa/swow/paths/train.relpath.2hop.jsonl
commonsense-qa/path_embeddings/obqa/path_embedding_cpnet.pickle
commonsense-qa/path_embeddings/obqa/path_embedding_swow.pickle
commonsense-qa/transe_embeddings/embeddings/ckbc-demo/Bilinear_cetrainSize300frac1.0dSize200relSize150acti0.001.1e-05.800.RAND.tanh.txt19.pickle
commonsense-qa/transe_embeddings/embeddings/glove/glove_vec.npy
commonsense-qa/transe_embeddings/embeddings/glove/glove.6B.100d.txt
