#!/usr/bin/env bash

encoder='bert-base-uncased'
lm_sent_pool='cls'
dataset="csqa"
inhouse=1
max_seq_len=80
encoder_lr=1e-5
decoder_lr=1e-3
batch_size=16
save_model=0
seed=0
use_cache=True
gpu_device=0
kg_name='cpnet'
ent_emb='roberta'
ablation='kg_only'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='gconattn'
path_embedding_path='path_embeddings/csqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds=(0 21527 24524)
n_runs=3
decoder_hidden_dim=100
encoder_dim=300
encoder_dropoute=0.3
encoder_dropouti=0.3
encoder_dropouth=0.3
dropoutm=0.1

ent_emb_paths_tzw='./data/cpnet/tzw.ent.npy'
path_embedding_path_cpnet='path_embeddings/csqa/path_embedding_cpnet.pickle'
path_embedding_path_swow='path_embeddings/csqa/path_embedding_swow.pickle'
path_embedding_path_cpnet7rel='path_embeddings/csqa/path_embedding_cpnet7rel.pickle'
ent_emb_paths_transe_author='./data/transe/glove.transe.sgd.ent.npy'

#swow
kg_name='swow'
ent_emb_paths='./data/swow/concept_roberta_emb.npy'
rel_emb_path='./data/swow/glove.TransE.SGD.rel.npy'
path_embedding_path='path_embeddings/csqa/path_embedding_swow.pickle'

