#!/usr/bin/env bash

encoder='albert-xxlarge-v2'
dataset="csqa"
inhouse=1
max_seq_len=80
encoder_lr=1e-5
decoder_lr=1e-3
batch_size=16
dropoutm=0.1
save_model=0
seed=0
use_cache=True
gpu_device=0
kg_name='cpnet'
ablation='att_pool'
ent_emb='tzw'
ent_emb_paths='./data/cpnet/tzw.ent.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='pg_global'
path_embedding_path='path_embeddings/csqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
n_runs=3