#!/usr/bin/env bash

encoder='albert-xxlarge-v2'
dataset="csqa"
lm_sent_pool='cls'
inhouse=1
max_seq_len=80
encoder_lr=1e-5
decoder_lr=1e-3
batch_size=16
dropoutm=0.1
save_model=0
seed=0
gpu_device=0
ablation='att_pool'
debug=False
subsample=1.0
mlp_dim=128
mlp_layer_num=2
use_cache=True
kg_name='swow1rel'
ent_emb='roberta'
ent_emb_paths='./data/swow/concept_roberta_emb.npy'
rel_emb_path='./data/swow1rel/glove.TransE.SGD.rel.npy'
path_embedding_path='path_embeddings/csqa/path_embedding_cpnet.pickle'
kg_model='pg_full'
mini_batch_size=2
n_runs=3
seeds=(0 21527 24524)
ent_emb_paths_transe='./data/swow/glove.TransE.SGD.ent.npy'
path_embedding_path_swow='path_embeddings/csqa/path_embedding_swow.pickle'
path_embedding_path_cpnet7rel='path_embeddings/csqa/path_embedding_cpnet7rel.pickle'
path_embedding_path_cpnet='path_embeddings/csqa/path_embedding_cpnet.pickle'