#!/usr/bin/env bash

encoder_albert='albert-xxlarge-v2'
encoder_bert='bert-base-uncased'
encoder='roberta-large'
encoder_lr=1e-5
lm_sent_pool='mean'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=8
dropoutm=0.1
save_model=0
seed=0
gpu_device=0
use_cache=True
kg_name='swow'
ent_emb='roberta'
ablation='att_pool'
ent_emb_paths='./data/swow/concept_roberta_emb.npy'
rel_emb_path='./data/swow/glove.TransE.SGD.rel.npy'
kg_model='pg_full'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_swow.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds_notuse=(0 4989 8625)
n_runs=3
ent_emb_paths_tzw='./data/cpnet/tzw.ent.npy'