#!/usr/bin/env bash

 : << COMMENT
encoder='roberta-large'
encoder_lr=1e-5
lm_sent_pool='max'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=32
save_model=0
seed=0
gpu_device=0
use_cache=True
kg_name='cpnet'
ent_emb='roberta'
ablation='att_pool'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='pg_full'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds_nouse=(0 4989 8625)
n_runs=3
decoder_hidden_dim=150
encoder_dim=128
encoder_dropoute=0.1
encoder_dropouti=0.2
encoder_dropouth=0.2
dropoutm=0.2

ent_emb_paths_tzw='./data/cpnet/tzw.ent.npy'
COMMENT


#  : << COMMENT
encoder='albert-xxlarge-v2'
encoder_lr=1e-5
lm_sent_pool='mean'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=32
save_model=1
seed=0
gpu_device=0
use_cache=True
kg_name='cpnet'
ent_emb='roberta'
ablation='no_rel'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='rn'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds=(0)
# seeds=(4989 8625 16180)
#seeds=(0 4989 3469 8625 16180 31415)
n_runs=1
decoder_hidden_dim=150
encoder_dim=128
encoder_dropoute=0.1
encoder_dropouti=0.2
encoder_dropouth=0.2
dropoutm=0.2
encoder_layer_num=1
max_epochs_before_stop=2
encoder_type='PLM'

kg_name_swow='swow'
ent_emb_paths_swow='./data/swow/concept_roberta_emb.npy'
rel_emb_path_swow='./data/swow/glove.TransE.SGD.rel.npy'
path_embedding_path_swow='path_embeddings/obqa/path_embedding_swow.pickle'

kg_name_cpsw='cpnet_swow'
ent_emb_paths_cpsw='./data/cpnet_swow/concept_roberta_emb.npy'
rel_emb_path_cpsw='./data/cpnet_swow/glove.TransE.SGD.rel.npy'
path_embedding_path_cpsw='path_embeddings/obqa/path_embedding_cpnet_swow.pickle'

kg_name_cpnet7rel='cpnet7rel'
rel_emb_path_cpnet7rel='./data/cpnet7rel/glove.transe.sgd.rel.npy'
ent_emb_paths_cpnet7rel='./data/cpnet/concept_roberta_emb.npy'
path_embedding_path_cpnet7rel='path_embeddings/obqa/path_embedding_cpnet7rel.pickle'

kg_name_cpnet1rel='cpnet1rel'
rel_emb_path_cpnet1rel='./data/cpnet1rel/glove.transe.sgd.rel.npy'
ent_emb_paths_cpnet1rel='./data/cpnet/concept_roberta_emb.npy'
path_embedding_path_cpnet1rel='path_embeddings/obqa/path_embedding_cpnet1rel.pickle'

# 
# COMMENT

: << COMMENT
encoder='bert-base-uncased'
encoder_lr=3e-05
lm_sent_pool='mean'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=8
save_model=0
seed=0
gpu_device=0
use_cache=True
kg_name='cpnet'
ent_emb='roberta'
ablation='att_pool'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='rn'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds=(0 4989 8625)
n_runs=6
decoder_hidden_dim=150
encoder_dim=128
encoder_dropoute=0.1
encoder_dropouti=0.1
encoder_dropouth=0.1
dropoutm=0.2
encoder_layer_num=1
max_epochs_before_stop=2
encoder_type='PLM'

# #swow
kg_name_swow='swow'
ent_emb_paths_swow='./data/swow/concept_roberta_emb.npy'
rel_emb_path_swow='./data/swow/glove.TransE.SGD.rel.npy'
path_embedding_path_swow='path_embeddings/obqa/path_embedding_swow.pickle'
COMMENT





: << COMMENT
encoder='gru'
encoder_lr=3e-4
lm_sent_pool='mean'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=16
save_model=0
seed=0
gpu_device=0
use_cache=True
kg_name='cpnet'
ent_emb='roberta'
ablation='att_pool'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='rn'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=4
seeds=(0 4989 8625)
n_runs=6
decoder_hidden_dim=150
encoder_dim=128
encoder_dropoute=0.1
encoder_dropouti=0.2
encoder_dropouth=0.2
dropoutm=0.2
encoder_dim=300
encoder_layer_num=1
max_epochs_before_stop=3
encoder_type='gru'

# #swow
kg_name='swow'
ent_emb_paths='./data/swow/concept_roberta_emb.npy'
rel_emb_path='./data/swow/glove.TransE.SGD.rel.npy'
path_embedding_path='path_embeddings/obqa/path_embedding_swow.pickle'
COMMENT