#!/usr/bin/env bash

data_dir="mcscript"
generator_type='gpt2'
batch_size=8
context_len=16
output_len=31
gpu_device=5
kg_name='swow'
pretrain_generator_ckpt='../learning-generator/checkpoints/swow/model.ckpt'
pretrain_generator_ckpt_cn='../learning-generator/checkpoints/cpnet/model.ckpt'

kg_name_cpnet7rel='cpnet7rel'
kg_name_swow='swow'
pretrain_generator_ckpt_cpnet7rel='../learning-generator/checkpoints/cpnet7rel/model.ckpt'